@import url("https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,900|Roboto:300,400");
* {
  transition: all 0.3s ease;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: rgba(0, 0, 0, 0.5);
}

header {
  background: url(../img/header-bg.jpg) center bottom/cover;
  height: 670px;
}

.header_container {
  padding-top: 10px;
}
.header_container div.row {
  min-height: 100px;
}
.header_container .header_logo {
  background: url(../img/logo.png) no-repeat;
  min-width: 128px;
  height: 50px;
}
.header_container nav ul {
  display: flex;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header_container nav ul a {
  display: block;
  margin: 0 3px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font: 900 1.3rem 'Roboto', sans-serif;
}
.header_container nav ul a:not(.active):hover {
  color: rgba(255, 200, 200, 0.45);
}
.header_container nav ul .active {
  color: #00e0d0;
}

section {
  height: 100vmin;
  max-height: 670px;
}
section .caption {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  margin: auto;
}
section .caption .title {
  text-transform: capitalize;
  font: 900 3.2rem "Playfair Display", serif;
}
section .caption .title::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin: 20px auto 0;
}
section .caption .descr {
  padding: 25px  0 0;
  font: 300 1.4rem/2.4rem "Roboto", sans-serif, sans-serif;
}
section .caption .btn {
  display: block;
  width: 120px;
  height: 40px;
  color: #00e0d0;
  text-transform: uppercase;
  font: 1.6rem "Hammersmith One", sans-serif;
  background: 0;
  border: 1px solid #00e0d0;
  margin: 30px auto 0;
}
section .caption .btn:hover {
  cursor: pointer;
  font-weight: bold;
}
section .caption .btn:active {
  box-shadow: none;
  border: none;
}
section .caption .block {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  width: 60px;
  height: 10px;
}
section .caption .block span {
  background: 0;
  border: 1px solid #bbbabc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
section .caption .block span:hover {
  cursor: pointer;
}
section .caption .block .active_dot {
  background: #00e0d0;
}

.main {
  min-height: 670px;
  background: #fff;
  padding: 1px;
}

.about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
}
.about .column-left {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.about .column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .column-right h2.title {
  flex: 1 auto;
  text-transform: uppercase;
  font: bold 2.2rem "Playfair Display", serif;
  color: #413d4b;
}
.about .column-right .descr {
  flex: 1 auto;
  font: 300 1.4rem/2.2rem "Roboto", sans-serif, sans-serif;
  padding-right: 35px;
}
.about .column-right .btn {
  display: block;
  width: 120px;
  height: 40px;
  color: #00e0d0;
  text-transform: uppercase;
  font: 1.6rem "Hammersmith One", sans-serif;
  background: 0;
  border: 1px solid #00e0d0;
}
.about .column-right .btn:hover {
  cursor: pointer;
  font-weight: bold;
}
.about .column-right .btn:active {
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 992px) {
  .about h2.title {
    text-align: center;
  }

  .column-right .descr {
    padding: 0;
  }

  .about .btn {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
