.expertise {
    text-align: center;
    @include margin-top-bot;
    .container {
        h2.title {
            @include upparcase;
            font: bold 2.2rem $fontPlay;
            color: $colorh2;
            margin-bottom: 10px;
        }
        &>p.descr {
            font: 1.4rem $fontPlay;
            color: $colorP;
            &::after {
                content: '';
                display: block;
                width: 50px;
                height: 2px;
                background: $colorh2;
                margin: 20px auto;
            }
        }
        .features {
            display: flex;
            flex-wrap: wrap;
            .features-item {
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-bottom: 50px;
                min-height: 180px;
                max-width: 445px;
                .image {
                    width: 50px;
                    height: 50px;
                    background: url(../img/sprites.png) no-repeat;
                    margin: auto;
                }
                .title {
                    font: 900 1.4rem $fontRoboto;
                    color: $colorh2;
                }
                .descr {
                    font: 300 1.4rem/2.2rem $fontRoboto;
                    color: #333;
                }
                &:nth-child(2) {
                    .image {
                        background-position-x: -60px;
                    }
                }
                &:nth-child(3) {
                    .image {
                        background-position-x: -111px;
                    }
                }
                &:nth-child(4) {
                    .image {
                        background-position-x: -161px;
                    }
                }
                &:nth-child(5) {
                    .image {
                        background-position-x: -212px;
                    }
                }
                &:nth-child(6) {
                    .image {
                        background-position-x: -265px;
                    }
                }
            }
        }
    }
}