.expertise {
    text-align: center;
    .container {
        h2.title-top {
            color: $colorh2;
        }
        &>p.descr-top {
            color: $colorP;
            &::after {
                background: $colorh2;
            }
        }
        .features {
            display: flex;
            flex-wrap: wrap;
            .features-item {
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-bottom: 40px;
                min-height: 180px;
                max-width: 445px;
                .image {
                    width: 52px;
                    height: 52px;
                    background: url(../img/sprites.png) no-repeat;
                    margin: auto;
                }
                .title {
                    color: $colorh2;
                    margin: 3rem 0 2.2rem ;
                }
                .descr {
                    color: #333;
                }
                &:first-child {
                    .image {
                        background-position-x: 1.5px;
                    }
                }
                &:nth-child(2) {
                    .image {
                        background-position-x: -57px;
                    }
                }
                 &:nth-child(3) {
                    .image {
                        background-position-x: -109px;
                    }
                }
                &:nth-child(4) {
                    .image {
                        background-position-x: -160px;
                    }
                }
                &:nth-child(5) {
                    .image {
                        background-position-x: -212px;
                    }
                }
                &:nth-child(6) {
                    .image {
                        background-position-x: -264px;
                    }
                }
            }
        }
    }
}