$fontsz: 10;
$color: red;
$colorh2: #413d4b;
$width: 100;
$fontRoboto: 'Roboto',sans-serif;
$fontHammer: 'Hammersmith One';
$fontPlay: 'Playfair Display';
@mixin border($color) {
    border: 1px solid $color;
}
@mixin button($width) {
    display: block;
    width: $width + px;
    height: 40px;
    color: #00e0d0;
    text-transform: uppercase;
    font: 1.6rem $fontHammer, sans-serif;   
    background: 0;
    @include border(#00e0d0);
    &:hover{
        cursor: pointer;
        font-weight: bold;
        //color: rgba(79, 209, 255, 0.89);
       // background:rgba(79, 189, 255, 0.05);
    }

    &:active{
        box-shadow: none;
        border: none;
    }
}

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,900|Roboto:300,400');


* {
    transition: all 0.3s ease;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background: rgba(0,0,0,  0.5);
}
.container {
    max-width: 960px;
}

@import 'header';
@import 'main';
